stateless-ai-recipe-generator.json
{
  "name": "Stateless AI Recipe Generator",
  "nodes": [
    {
      "parameters": {
        "events": [
          "MESSAGE_CREATE"
        ],
        "channelIds": [
          "REPLACE_WITH_DISCORD_CHANNEL_ID"
        ]
      },
      "id": "1",
      "name": "Discord Trigger",
      "type": "n8n-nodes-base.discordTrigger",
      "typeVersion": 1,
      "position": [
        -1080,
        0
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "chat",
        "model": "gpt-4o-mini",
        "chatMessages": {
          "message": [
            {
              "text": "You are a culinary extraction assistant. Given a Discord message that may look like a /cook command or casual request, extract a concise comma-separated list of ingredients, a cuisine preference if mentioned, and a maximum cooking time in minutes if present. Always respond as compact JSON: {\"ingredients\": \"string\", \"cuisine_preference\": \"string\", \"max_time_minutes\": \"number or null when unknown\"}. Use \"any\" only for string fields that are unspecified; leave max_time_minutes as null when unknown.",
              "type": "system"
            },
            {
              "text": "User message: {{$json[\"content\"] || $json[\"message\"] || $json[\"text\"]}}",
              "type": "user"
            }
          ]
        },
        "responseFormat": "json_object",
        "options": {
          "temperature": 0,
          "presencePenalty": 0,
          "frequencyPenalty": 0
        }
      },
      "id": "2",
      "name": "OpenAI Extract Preferences",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Normalize OpenAI response into flat preference fields\nconst item = items[0] || { json: {} };\nconst source = item.json || {};\nconst rawMessage = source?.choices?.[0]?.message?.content?.[0]?.text\n  ?? source?.data?.[0]?.content?.[0]?.text\n  ?? source?.text\n  ?? source?.message\n  ?? source;\n\nlet parsed = {};\nlet parseError = '';\n\ntry {\n  parsed = typeof rawMessage === 'string' ? JSON.parse(rawMessage) : (rawMessage || {});\n} catch (error) {\n  parseError = error.message;\n}\n\nconst maxTime = Number(parsed.max_time_minutes);\n\nreturn [{\n  json: {\n    ingredients: parsed.ingredients || '',\n    cuisine_preference: parsed.cuisine_preference || 'any',\n    max_time_minutes: Number.isFinite(maxTime) ? maxTime : null,\n    parse_error: parseError\n  }\n}];"
      },
      "id": "6",
      "name": "Normalize Preferences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "GET",
        "url": "https://api.edamam.com/api/recipes/v2",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "public"
            },
            {
              "name": "q",
              "value": "={{$json[\"ingredients\"]}}"
            },
            {
              "name": "cuisineType",
              "value": "={{$json[\"cuisine_preference\"]}}"
            },
            {
              "name": "time",
              "value": "={{$json[\"max_time_minutes\"] ?? ''}}"
            },
            {
              "name": "app_id",
              "value": "REPLACE_WITH_EDAMAM_APP_ID"
            },
            {
              "name": "app_key",
              "value": "REPLACE_WITH_EDAMAM_APP_KEY"
            }
          ]
        },
        "responseFormat": "json"
      },
      "id": "3",
      "name": "Fetch Recipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Format the first recipe result coming from Edamam\nconst itemsIn = Array.isArray(items) ? items : [];\nconst first = (itemsIn[0] || {}).json || {};\nconst hits = Array.isArray(first.hits) ? first.hits : [];\n\nif (!hits.length || !hits[0].recipe) {\n  return [{\n    json: {\n      title: 'No recipes found',\n      imageUrl: '',\n      recipeUrl: '',\n      calories: 0,\n      ingredientCount: 0,\n      note: 'No recipes matched your request. Try different ingredients or tweak cuisine/time preferences.'\n    }\n  }];\n}\n\nconst recipe = hits[0].recipe;\n\nreturn [{\n  json: {\n    title: recipe.label || 'Recipe',\n    imageUrl: recipe.image || '',\n    recipeUrl: recipe.url || '',\n    calories: Math.round(recipe.calories || 0),\n    ingredientCount: Array.isArray(recipe.ingredientLines) ? recipe.ingredientLines.length : 0\n  }\n}];"
      },
      "id": "4",
      "name": "Format Top Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        0
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "channelId": "REPLACE_WITH_DISCORD_CHANNEL_ID",
        "text": "={{$json.note || 'Here is your recipe!'}}",
        "additionalFields": {
          "embeds": [
            {
              "title": "={{$json[\"title\"]}}",
              "url": "={{$json[\"recipeUrl\"]}}",
              "description": "={{$json.note || 'Open the link for cooking steps and ingredients.'}}",
              "thumbnail": {
                "url": "={{$json[\"imageUrl\"]}}"
              },
              "fields": [
                {
                  "name": "Calories",
                  "value": "={{$json[\"calories\"]}}",
                  "inline": true
                },
                {
                  "name": "Ingredients",
                  "value": "={{$json[\"ingredientCount\"]}}",
                  "inline": true
                }
              ]
            }
          ]
        }
      },
      "id": "5",
      "name": "Send Discord Reply",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        180,
        0
      ]
    }
  ],
  "connections": {
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "OpenAI Extract Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extract Preferences": {
      "main": [
        [
          {
            "node": "Normalize Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Preferences": {
      "main": [
        [
          {
            "node": "Fetch Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipe": {
      "main": [
        [
          {
            "node": "Format Top Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Top Result": {
      "main": [
        [
          {
            "node": "Send Discord Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "version": 2
}
